body {
    margin: 2;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas:  
    "header header header2 header2" 
    "aside main main main"
    "footer footer footer footer";
    grid-gap: 7px;
}

.header-direita {
    display: flex;
    background: #4a4a4a;
    grid-area: header2;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2%;
    border-radius: 5px 5px 5px 5px;
}  

header {
    display: flex;
    background: #4a4a4a;
    grid-area: header;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2%;
    border-radius: 5px 5px 5px 5px;
}  

main {
    background: white;
    grid-area: main;
    color: black;
    text-align: center;
}  

main img {
    width: 40%;
}

aside {
    display: grid;
    background: #4a4a4a;
    grid-area: aside;
    border-radius: 5px 5px 5px 5px;
} 

.links-tabela {
    display: grid;
    align-items: center;
    justify-content: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    color: black;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

footer {
    background: #4a4a4a;
    grid-area: footer;
    border-radius: 5px 5px 5px 5px;
}

body h1 {
    color: black;
}

h2, h4 {
    margin-left: 10px;
}